.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.game_window{
    background-color: #5b0000;
    border: 5px solid #219600;
    border-radius: 20px;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 33rem;
    padding: 1rem;
}

.game_title{
    border-bottom: 3px solid #219600;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.main{
    align-items: center;
    margin-top: 3rem;
    margin-bottom: auto;
}

.personal_stats{
    align-content: center;
    background-color: #8e0303;
    border-radius: 20px;
    margin-left: 8rem;
    margin-right: auto;
    height: 21rem;
    width: 19rem;
    padding: 0.5rem;
    overflow: auto;
}

.score{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.score_num{
    text-align: center;
    font-size: 1.5rem;
}

.highscore{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.highscore_num{
    text-align: center;
    font-size: 1.5rem;
}

.times_played{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.times_played_num{
    text-align: center;
    font-size: 1.5rem;
}

.start_button{
    background-color: #9f0000;
    border: 3px solid #29bb00;
    border-radius: 20px;
    width: 12rem;
    height: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .start_button:hover{
        transform: scale(1.1);
        background-color: #c80000;
        border: 3px solid #29bb00;
    }

.exit_button{
    background-color: #9f0000;
    border: 3px solid #29bb00;
    border-radius: 20px;
    width: 12rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .exit_button:hover{
        transform: scale(1.1);
        background-color: #c80000;
        border: 3px solid #29bb00;
    }

.leaderboard{
    background-color: #8e0303;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    height: 21rem;
    width: 19rem;
    overflow: auto;
}

.leaderboard_values{
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}

.game_score{
    background-color: #8a0000;
    border-radius: 20px;
    width: 8rem;
    padding: 0.4rem;
    margin-left: 5rem;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: normal;
}

.game_timer{
    background-color: #8a0000;
    border-radius: 20px;
    width: 10rem;
    padding: 0.4rem;
    margin-left: auto;
    margin-right: 5rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.aim_trainer_area{
    background-color: #300000;
    border: 5px solid #176a00;
    border-radius: 20px;
    width: 74rem;
    height: 29rem;
    margin: auto;
    margin-top: 0.5rem;
}

.aim_trainer_target{
    cursor: pointer;
    background-color: #00ba06;
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
}